Построить обобщенную линейную модель (GLM) для прогнозирования наступления страховых случаев на рассмотренных в ноутбуке данных. Подобрать необходимое распределение и тип связи, при необходимости ознакомиться с документацией H2O. Придумать и использовать дополнительные факторы при построении модели (например, пересечения признаков или функции от них и т.д.). Оценить результаты построенной модели при помощи различных метрик (можно использовать и другие метрики помимо представленных в ноутбуке), проанализировать вероятные проблемы. Предложить способы их решения и/или попробовать их решить, улучшив результат.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Загрузим набор данных

df = pd.read_csv('C:/Users/a.kraev/Python_Lesson/Машинное обучение в бизнесе/Lesson_7/freMPL-R.csv', low_memory=False)
df = df.loc[df.Dataset.isin([5, 6, 7, 8, 9])]
df.drop('Dataset', axis=1, inplace=True)
df.dropna(axis=1, how='all', inplace=True)
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)

In [3]:
NegClaimAmount = df.loc[df.ClaimAmount < 0, ['ClaimAmount','ClaimInd']]
print('Unique values of ClaimInd:', NegClaimAmount.ClaimInd.unique())
df.loc[df.ClaimAmount < 0, 'ClaimAmount'] = 0
NegClaimAmount.head()

Unique values of ClaimInd: [0]

     ClaimAmount  ClaimInd
82    -74.206042         0
175 -1222.585196         0
177  -316.288822         0
363  -666.758610         0
375 -1201.600604         0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115155 entries, 0 to 115154
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Exposure           115155 non-null  float64
 1   LicAge             115155 non-null  int64
 2   RecordBeg          115155 non-null  object
 3   RecordEnd          59455 non-null   object
 4   Gender             115155 non-null  object
 5   MariStat           115155 non-null  object
 6   SocioCateg         115155 non-null  object
 7   VehUsage           115155 non-null  object
 8   DrivAge            115155 non-null  int64
 9   HasKmLimit         115155 non-null  int64
 10  BonusMalus         115155 non-null  int64
 11  ClaimAmount        115155 non-null  float64
 12  ClaimInd           115155 non-null  int64
 13  ClaimNbResp        115155 non-null  float64
 14  ClaimNbNonResp     115155 non-null  float64
 15  ClaimNbParking     115155 non-null  float64
 16  ClaimNbFireTheft   115155 non-null  float64
 17  ClaimNbWindscreen  115155 non-null  float64
 18  OutUseNb           115155 non-null  float64
 19  RiskArea           115155 non-null  float64
dtypes: float64(9), int64(5), object(6)
memory usage: 17.6+ MB

In [5]:
df.head(20)

,Exposure,LicAge,RecordBeg,RecordEnd,Gender,MariStat,SocioCateg,VehUsage,DrivAge,HasKmLimit,BonusMalus,ClaimAmount,ClaimInd,ClaimNbResp,ClaimNbNonResp,ClaimNbParking,ClaimNbFireTheft,ClaimNbWindscreen,OutUseNb,RiskArea
0,0.083,332,2004-01-01,2004-02-01,Male,Other,CSP50,Professional,46,0,50,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0,9.0
1,0.916,333,2004-02-01,NaN,Male,Other,CSP50,Professional,46,0,50,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0,9.0
2,0.550,173,2004-05-15,2004-12-03,Male,Other,CSP50,Private+trip to office,32,0,68,0.0,0,0.0,2.0,0.0,0.0,0.0,0.0,7.0
3,0.089,364,2004-11-29,NaN,Female,Other,CSP55,Private+trip to office,52,0,50,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
4,0.233,426,2004-02-07,2004-05-01,Male,Other,CSP60,Private,57,0,50,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
5,0.666,429,2004-05-01,NaN,Male,Other,CSP60,Private,57,0,50,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
6,0.080,461,2004-04-02,2004-05-01,Male,Other,CSP48,Professional,58,0,50,0.0,0,0.0,1.0,0.0,0.0,2.0,1.0,5.0
7,0.666,462,2004-05-01,NaN,Male,Other,CSP48,Professional,58,0,50,0.0,0,0.0,1.0,0.0,0.0,2.0,1.0,5.0
8,0.173,405,2004-10-29,NaN,Female,Other,CSP50,Private+trip to office,53,0,50,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
9,0.474,386,2004-01-01,2004-06-22,Male,Other,CSP55,Private+trip to office,57,0,50,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,6.0
10,0.525,391,2004-06-22,NaN,Male,Other,CSP55,Private+trip to office,57,0,50,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,6.0
11,0.341,166,2004-01-01,2004-05-04,Male,Other,CSP50,Private+trip to office,32,0,50,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
12,0.049,170,2004-05-04,2004-05-22,Male,Other,CSP50,Private+trip to office,33,0,50,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
13,0.609,170,2004-05-22,NaN,Male,Other,CSP50,Private+trip to office,33,0,50,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
14,0.039,362,2004-12-17,NaN,Male,Other,CSP50,Private+trip to office,48,0,50,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,7.0
15,0.416,351,2004-01-01,2004-06-01,Male,Other,CSP50,Private+trip to office,47,0,50,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,7.0
16,0.543,356,2004-06-01,2004-12-17,Male,Other,CSP50,Private+trip to office,48,0,50,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,7.0
17,0.106,357,2004-11-23,NaN,Female,Other,CSP50,Private+trip to office,48,0,50,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
18,0.500,328,2004-01-01,2004-07-01,Female,Other,CSP6,Professional run,53,0,50,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,7.0
19,0.499,334,2004-07-01,NaN,Female,Other,CSP6,Professional run,53,0,60,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,7.0

In [6]:
df['ClaimsCount'] = df.ClaimInd + df.ClaimNbResp + df.ClaimNbNonResp + df.ClaimNbParking + df.ClaimNbFireTheft + df.ClaimNbWindscreen
df.loc[df.ClaimAmount == 0, 'ClaimsCount'] = 0
df.drop(["ClaimNbResp", "ClaimNbNonResp", "ClaimNbParking", "ClaimNbFireTheft", "ClaimNbWindscreen"], axis=1, inplace=True)

In [7]:
pd.DataFrame(df.ClaimsCount.value_counts()).rename({'ClaimsCount': 'Policies'}, axis=1)

      Policies
0.0     104286
2.0       3529
1.0       3339
3.0       2310
4.0       1101
5.0        428
6.0        127
7.0         26
8.0          6
9.0          2
11.0         1

In [8]:
df.loc[df.ClaimsCount > 0, 'AvgClaim'] = df['ClaimAmount']/df['ClaimsCount']

In [9]:
class InsDataFrame:


    ''' Load data method '''

    def load_pd(self, pd_dataframe):
        self._df = pd_dataframe


    ''' Columns match method '''

    def columns_match(self, match_from_to):
        self._df.rename(columns=match_from_to, inplace=True)


    ''' Person data methods '''

    # Gender
    _gender_dict = {'Male':0, 'Female':1}

    def transform_gender(self):
        self._df['Gender'] = self._df['Gender'].map(self._gender_dict)

        

    # Age
    @staticmethod
    def _age(age, age_max):
        if pd.isnull(age):
            age = None
        elif age < 18:
            age = None
        elif age > age_max:
            age = age_max
        return age
      
    def transform_age(self, age_max=70):
        self._df['driver_minage'] = self._df['driver_minage'].apply(self._age, args=(age_max,))

    # Age M/F
    @staticmethod
    def _age_gender(age_gender):
        _age = age_gender[0]
        _gender = age_gender[1]
        if _gender == 0: #Male
            _driver_minage_m = _age
            _driver_minage_f = 18
        elif _gender == 1: #Female
            _driver_minage_m = 18
            _driver_minage_f = _age
        else:
            _driver_minage_m = 18
            _driver_minage_f = 18
        return [_driver_minage_m, _driver_minage_f]
    
    def transform_age_gender(self):
        self._df['driver_minage_m'],self._df['driver_minage_f'] = zip(*self._df[['driver_minage','Gender']].apply(self._age_gender, axis=1).to_frame()[0])

    # Experience
    @staticmethod
    def _exp(exp, exp_max):
        if pd.isnull(exp):
            exp = None
        elif exp < 0:
            exp = None
        elif exp > exp_max:
            exp = exp_max
        return exp

    def transform_exp(self, exp_max=52):
        self._df['driver_minexp'] = self._df['driver_minexp'].apply(self._exp, args=(exp_max,))


    ''' Other data methods '''

    def polynomizer(self, column, n=2):
        if column in list(self._df.columns):
            for i in range(2,n+1):
                self._df[column+'_'+str(i)] = self._df[column]**i

    def get_dummies(self, columns):
        self._df = pd.get_dummies(self._df, columns=columns)
        
    
    # Вспомогательный столбец для суммирования числа полисов с убытками
    #df['ClaimCount'] = df['ClaimAmount'] > 0


    ''' General methods '''

    def info(self):
        return self._df.info()

    def head(self, columns, n=5):
        return self._df.head(n)

    def len(self):
        return len(self._df)

    def get_pd(self, columns):
        return self._df[columns]
    
class InsDataFrame_Fr(InsDataFrame):

    # Experience (weeks to years)
    @staticmethod
    def _exp(exp, exp_max):
        if pd.isnull(exp):
            exp = None
        elif exp < 0:
            exp = None
        else:
            exp * 7 // 365
        if exp > exp_max:
            exp = exp_max
        return exp

    # Marital status
    _MariStat_dict = {'Other':0, 'Alone':1}

    def transform_MariStat(self):
        self._df['MariStat'] = self._df['MariStat'].map(self._MariStat_dict)
    
    # Social category
    def transform_SocioCateg(self):
        self._df['SocioCateg'] = self._df['SocioCateg'].str.slice(0,4)

In [10]:
data = InsDataFrame_Fr()

In [11]:
data.load_pd(df)

In [12]:
# Переименовываем
data.columns_match({'DrivAge':'driver_minage','LicAge':'driver_minexp'})

In [13]:
# Преобразовываем
data.transform_age()
data.transform_exp()
data.transform_gender()
data.transform_MariStat()
data.transform_SocioCateg()

In [14]:
# Пересечение пола и возраста, их квадраты
data.transform_age_gender()
data.polynomizer('driver_minage_m')
data.polynomizer('driver_minage_f')

In [15]:
data.get_dummies(['VehUsage','SocioCateg'])

In [16]:
#data.get_dummies(['RiskArea'])

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115155 entries, 0 to 115154
Data columns (total 30 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Exposure                         115155 non-null  float64
 1   driver_minexp                    115155 non-null  int64
 2   RecordBeg                        115155 non-null  object
 3   RecordEnd                        59455 non-null   object
 4   Gender                           115155 non-null  int64
 5   MariStat                         115155 non-null  int64
 6   driver_minage                    115155 non-null  int64
 7   HasKmLimit                       115155 non-null  int64
 8   BonusMalus                       115155 non-null  int64
 9   ClaimAmount                      115155 non-null  float64
 10  ClaimInd                         115155 non-null  int64
 11  OutUseNb                         115155 non-null  float64
 12  RiskArea                         115155 non-null  float64
 13  ClaimsCount                      115155 non-null  float64
 14  AvgClaim                         10869 non-null   float64
 15  driver_minage_m                  115155 non-null  int64
 16  driver_minage_f                  115155 non-null  int64
 17  driver_minage_m_2                115155 non-null  int64
 18  driver_minage_f_2                115155 non-null  int64
 19  VehUsage_Private                 115155 non-null  uint8
 20  VehUsage_Private+trip to office  115155 non-null  uint8
 21  VehUsage_Professional            115155 non-null  uint8
 22  VehUsage_Professional run        115155 non-null  uint8
 23  SocioCateg_CSP1                  115155 non-null  uint8
 24  SocioCateg_CSP2                  115155 non-null  uint8
 25  SocioCateg_CSP3                  115155 non-null  uint8
 26  SocioCateg_CSP4                  115155 non-null  uint8
 27  SocioCateg_CSP5                  115155 non-null  uint8
 28  SocioCateg_CSP6                  115155 non-null  uint8
 29  SocioCateg_CSP7                  115155 non-null  uint8
dtypes: float64(6), int64(11), object(2), uint8(11)
memory usage: 17.9+ MB

In [30]:
col_features = [
                'driver_minexp',
                'Gender',
                'MariStat',
                'HasKmLimit',
                'BonusMalus',
                'OutUseNb',
                'driver_minage_m',
                'driver_minage_f',
                'driver_minage_m_2',
                'driver_minage_f_2',
                'VehUsage_Private',
                'VehUsage_Private+trip to office',
                'VehUsage_Professional',
                'VehUsage_Professional run',
                'SocioCateg_CSP1',
                'SocioCateg_CSP2',
                'SocioCateg_CSP3',
                'SocioCateg_CSP4',
                'SocioCateg_CSP5',
                'SocioCateg_CSP6',
                'SocioCateg_CSP7',
                'RiskArea'
    
]

In [31]:
col_target = ['ClaimsCount']

In [32]:
df = data.get_pd(col_features+col_target)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115155 entries, 0 to 115154
Data columns (total 23 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   driver_minexp                    115155 non-null  int64
 1   Gender                           115155 non-null  int64
 2   MariStat                         115155 non-null  int64
 3   HasKmLimit                       115155 non-null  int64
 4   BonusMalus                       115155 non-null  int64
 5   OutUseNb                         115155 non-null  float64
 6   driver_minage_m                  115155 non-null  int64
 7   driver_minage_f                  115155 non-null  int64
 8   driver_minage_m_2                115155 non-null  int64
 9   driver_minage_f_2                115155 non-null  int64
 10  VehUsage_Private                 115155 non-null  uint8
 11  VehUsage_Private+trip to office  115155 non-null  uint8
 12  VehUsage_Professional            115155 non-null  uint8
 13  VehUsage_Professional run        115155 non-null  uint8
 14  SocioCateg_CSP1                  115155 non-null  uint8
 15  SocioCateg_CSP2                  115155 non-null  uint8
 16  SocioCateg_CSP3                  115155 non-null  uint8
 17  SocioCateg_CSP4                  115155 non-null  uint8
 18  SocioCateg_CSP5                  115155 non-null  uint8
 19  SocioCateg_CSP6                  115155 non-null  uint8
 20  SocioCateg_CSP7                  115155 non-null  uint8
 21  RiskArea                         115155 non-null  float64
 22  ClaimsCount                      115155 non-null  float64
dtypes: float64(3), int64(9), uint8(11)
memory usage: 11.8 MB

In [35]:
df.loc[df['ClaimsCount'] > 0, :]

,driver_minexp,Gender,MariStat,HasKmLimit,BonusMalus,OutUseNb,driver_minage_m,driver_minage_f,driver_minage_m_2,driver_minage_f_2,...,VehUsage_Professional run,SocioCateg_CSP1,SocioCateg_CSP2,SocioCateg_CSP3,SocioCateg_CSP4,SocioCateg_CSP5,SocioCateg_CSP6,SocioCateg_CSP7,RiskArea,ClaimsCount
33,52,0,0,0,50,0.0,68,18,4624,324,...,0,0,0,0,0,0,1,0,4.0,4.0
34,52,1,1,0,50,0.0,18,47,324,2209,...,0,0,0,0,0,1,0,0,6.0,2.0
53,52,0,0,0,50,2.0,49,18,2401,324,...,0,0,0,0,0,1,0,0,8.0,2.0
65,52,0,0,0,50,0.0,70,18,4900,324,...,0,0,0,0,0,0,1,0,9.0,1.0
66,52,1,0,0,54,0.0,18,49,324,2401,...,0,0,0,0,0,1,0,0,8.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115085,52,0,0,1,50,0.0,70,18,4900,324,...,0,0,0,0,0,0,1,0,9.0,2.0
115138,52,1,0,1,62,0.0,18,69,324,4761,...,0,0,0,0,0,1,0,0,7.0,3.0
115142,52,0,0,0,50,0.0,63,18,3969,324,...,0,0,0,0,0,0,1,0,6.0,3.0
115148,52,0,0,0,50,0.0,53,18,2809,324,...,0,0,0,0,0,1,0,0,7.0,1.0
115151,52,1,0,0,50,0.0,18,54,324,2916,...,0,0,0,0,0,1,0,0,7.0,2.0

In [24]:
import xgboost as xgb
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score, confusion_matrix
from hyperopt import hp, tpe, space_eval
from hyperopt.fmin import fmin
import warnings
warnings.filterwarnings('ignore')

def SeriesFactorizer(series):
    series, unique = pd.factorize(series)
    reference = {x: i for x, i in enumerate(unique)}
    print(reference)
    return series, reference

ModuleNotFoundError: No module named 'xgboost'

In [28]:
!pip install hyperopt --upgrade

Collecting hyperopt
  Downloading hyperopt-0.2.4-py2.py3-none-any.whl (964 kB)
Requirement already satisfied, skipping upgrade: tqdm in c:\programdata\anaconda3\lib\site-packages (from hyperopt) (4.47.0)
Requirement already satisfied, skipping upgrade: numpy in c:\programdata\anaconda3\lib\site-packages (from hyperopt) (1.18.5)
Requirement already satisfied, skipping upgrade: networkx>=2.2 in c:\programdata\anaconda3\lib\site-packages (from hyperopt) (2.4)
Requirement already satisfied, skipping upgrade: cloudpickle in c:\programdata\anaconda3\lib\site-packages (from hyperopt) (1.5.0)
Requirement already satisfied, skipping upgrade: scipy in c:\programdata\anaconda3\lib\site-packages (from hyperopt) (1.5.0)
Requirement already satisfied, skipping upgrade: six in c:\programdata\anaconda3\lib\site-packages (from hyperopt) (1.15.0)
Requirement already satisfied, skipping upgrade: future in c:\programdata\anaconda3\lib\site-packages (from hyperopt) (0.18.2)
Requirement already satisfied, skipping upgrade: decorator>=4.3.0 in c:\programdata\anaconda3\lib\site-packages (from networkx>=2.2->hyperopt) (4.4.2)
Installing collected packages: hyperopt
Successfully installed hyperopt-0.2.4

In [29]:
from functools import partial
import xgboost as xgb
from hyperopt import hp, fmin, tpe, space_eval, Trials, STATUS_OK

ModuleNotFoundError: No module named 'xgboost'

In [37]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop(['ClaimsCount'], axis=1), df['ClaimsCount'], test_size=0.3, random_state=42)
x_valid, x_test, y_valid, y_test = train_test_split(x_test, y_test, test_size=0.5, random_state=42)